<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="New Users"
            statTitle={{NewUser}}
            statArrow={{statArrow}}
            statPercent={{statPercent}}
            statPercentColor={{statPercentColor}}
            statDescripiron="Since yesterday"
            statIconName="far fa-chart-bar"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats2
            statSubtitle="Number of All user"
            statTitle={{NumberUser}}
           
            statIconName="fa fa-users"
            statIconColor="bg-purple-500"
          ></app-card-stats2>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats2
            statSubtitle="Number of active user"
            statTitle={{ActiveUser}}
           
            statIconName="fa fa-users"
            statIconColor="bg-emerald-500"
          ></app-card-stats2>
         
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats2
          statSubtitle="Number of baned user"
          statTitle={{BanedUser}}
         
          statIconName="fa fa-users"
            statIconColor="bg-red-500"
          ></app-card-stats2>
        </div>
      </div>
    </div>
  </div>
</div>